.offer {
    display: flex;
    padding: 115px 0 0px 0;
    .social-link {
        margin-right: 80px;
        position: relative;
        ul {
            // display: flex;
            // transform: rotate(-90deg);
            // -webkit-transform: rotate(-90deg);
            // -moz-transform: rotate(-90deg);
            // -ms-transform: rotate(-90deg);
            // -o-transform: rotate(-90deg);
            height: 245px;
            margin-top: 90px;
            li {
                margin-bottom: 80px;
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .offer__main {
        h1 {
            width: 432px;
        }
        p {
            letter-spacing: 0.02em;
            width: 290px;
            line-height: 1.5em;
            margin-top: 70px;
            margin-bottom: 46px;
            padding-left: 30px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                display: inline-block;
                height: 100%;
                border-left: 1px solid rgba(0,0,0,.1);
            }
        }
        .btn__main {
            margin-left: 30px;
            padding: 14px 10px;
            font-size: 18px;
            color: $textColor;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            width: 100px;
            svg {
                margin-left: 10px;
            }
            &:before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $activeColor;
                width: 35%;
                height: 100%;
                z-index: -1;
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
            }
            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
    .offer__slider {
        // background: url('../img/airpods.png');
        .slide {
            margin-top: -140px;
            position: relative;
            z-index: 0;
        }
    }
}
