@import "reset";
@import "global-variables";
@import "slick";
@import '_header';
@import '_footer';
@import '_offer';
@import '_advantages';
@import '_chip';

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
main {
    background: $bgColor;
}
.wrapper {
    width: 1290px;
    margin: 0 auto;
}
a {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    color: $greyColor;
    text-decoration: none;
    &:hover {
        color: $titleColor;
        text-decoration: none;
    }
}
button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}
h1 {
    font-size: 58px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.04em;
}
h2 {
    font-size: 48px;
    letter-spacing: 0.04em;
    font-weight: 300;
}
h3 {
    font-size: 18px;
    letter-spacing: 0.04em;
}
p {
    font-weight: 300;
}
@import 'media';